<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMemberLabel">Create or edit a Member</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!member.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="member.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="member.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_surname">Surname</label>
            <input type="text" class="form-control" name="surname" id="field_surname"
                [(ngModel)]="member.surname" required/>
            <div [hidden]="!(editForm.controls.surname?.dirty && editForm.controls.surname?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.surname?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_oib">Oib</label>
            <input type="text" class="form-control" name="oib" id="field_oib"
                [(ngModel)]="member.oib" required/>
            <div [hidden]="!(editForm.controls.oib?.dirty && editForm.controls.oib?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.oib?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dateofbirth">Dateofbirth</label>
            <div class="d-flex">
                <input id="field_dateofbirth" type="datetime-local" class="form-control" name="dateofbirth" [(ngModel)]="member.dateofbirth"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.dateofbirth?.dirty && editForm.controls.dateofbirth?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dateofbirth?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.dateofbirth?.errors?.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="member.address" required/>
            <div [hidden]="!(editForm.controls.address?.dirty && editForm.controls.address?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.address?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_cellphone">Cellphone</label>
            <input type="text" class="form-control" name="cellphone" id="field_cellphone"
                [(ngModel)]="member.cellphone" required/>
            <div [hidden]="!(editForm.controls.cellphone?.dirty && editForm.controls.cellphone?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cellphone?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="member.email" required/>
            <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.email?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_datecreated">Datecreated</label>
            <div class="input-group">
                <input id="field_datecreated" type="text" class="form-control" name="datecreated" ngbDatepicker  #datecreatedDp="ngbDatepicker" [(ngModel)]="member.datecreated"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="datecreatedDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.datecreated?.dirty && editForm.controls.datecreated?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.datecreated?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_memberfrom">Memberfrom</label>
            <div class="input-group">
                <input id="field_memberfrom" type="text" class="form-control" name="memberfrom" ngbDatepicker  #memberfromDp="ngbDatepicker" [(ngModel)]="member.memberfrom"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="memberfromDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.memberfrom?.dirty && editForm.controls.memberfrom?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.memberfrom?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                [(ngModel)]="member.active" />
            <div [hidden]="!(editForm.controls.active?.dirty && editForm.controls.active?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.active?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dateinactive">Dateinactive</label>
            <div class="input-group">
                <input id="field_dateinactive" type="text" class="form-control" name="dateinactive" ngbDatepicker  #dateinactiveDp="ngbDatepicker" [(ngModel)]="member.dateinactive"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateinactiveDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_reasoninactive">Reasoninactive</label>
            <select class="form-control" name="reasoninactive" [(ngModel)]="member.reasoninactive" id="field_reasoninactive" >
                <option value="REQUEST">REQUEST</option>
                <option value="INACTIVE">INACTIVE</option>
                <option value="KICKED">KICKED</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastupdated">Lastupdated</label>
            <div class="input-group">
                <input id="field_lastupdated" type="text" class="form-control" name="lastupdated" ngbDatepicker  #lastupdatedDp="ngbDatepicker" [(ngModel)]="member.lastupdated"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="lastupdatedDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.lastupdated?.dirty && editForm.controls.lastupdated?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastupdated?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
